{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block metas %}
    {{ super() }}
    <meta id="data" data="{{ families }}">
{% endblock %}

{% block app_content %}
<h1>Basic Information</h1>
<hr>
{# must render fields independently because of dynamic forms #} 
{% if form %}
    <form class="form form-horizontal" method="post" role="form">
    
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    {{ wtf.form_field(form.projectId, placeholder='project')}}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.flowCellId, placeholder='stats') }}
    {{ wtf.form_field(form.pipelineFamily) }}
    {{ wtf.form_field(form.pipeline) }}
    {{ wtf.form_field(form.genome) }}
    <label class="control-label">Next</label>
    <br><input class="btn btn-primary btn-block" id="next_button" name="next_button" type="submit" value="Next">
    
    <br>
    </form>
{% endif %}    
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='dynamicfields.js') }}"></script>
{% endblock %}

